<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Rivera | Web Developer</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header id="header">
            <div class="logo">
                <h1>David Rivera T.</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About me</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="https://www.linkedin.com/in/drtaupier/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/drtaupier" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></li>
                </ul>
            </nav>
        </header>
        <section id="sct1">
            <div class="imagen1">
                <img src="img/img1.jpg" alt="Reunión de trabajo">
            </div>
        </section>
        <section id="sct2">
            <div class="imagen2"></div>
            <article>
                <div class="contenido">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, inventore ab? Natus id ullam veritatis, beatae mollitia et velit provident omnis temporibus vel nihil impedit a nisi repudiandae voluptates quibusdam.</p>
                </div>
            </article>
        </section>
        <section id="sct3">
            <div class="formulario">
                <form action="">
                    <input type="text" class="nombre" id="nombre" placeholder="Name">
                    <input type="text" class="apellido" id="apellido" placeholder="Last name">
                    <input type="tel" class="cellphone" id="cellphone" placeholder="Cellphone">
                    <input type="email" class="email" id="email" placeholder="name@place.com">
                    <input type="submit" id="submit" value="Send">
                </form>
            </div>
        </section>
        <footer id="footer"></footer>
    </div>
    <script src="https://kit.fontawesome.com/08d1435850.js" crossorigin="anonymous"></script>
</body>

</html>