<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="David Rivera Taupier">
    <meta name="description" content="resume, portfolio">
    <title>David Rivera | Web Developer</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="img/code.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header id="header">
            <div class="logo">
                <h1>David Rivera Taupier <i class="fas fa-code"></i></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#sct1">Home</a></li>
                    <li><a href="#sct2">About me</a></li>
                    <li><a href="#sct3">Portfolio</a></li>
                    <li><a href="#sct4">Contact</a></li>
                    <li><a href="https://www.linkedin.com/in/drtaupier/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/drtaupier" target="_blank"><i class="fab fa-github"></i></a></li>
                </ul>
            </nav>
        </header>
        <section id="sct1">
            <div class="imagen1">
                <img src="img/me.jpg" alt="Web Developer">
            </div>
            <div class="intro">
                <div class="frase">
                    <h2>Hi there! I'm <span class="titulo-color">David Rivera</span>,</h2>
                    <p>I am web developer and I would love to develop your next project.</p>
                </div>
            </div>
        </section>
        <section id="sct2">
            <article>
                <div class="contenido">
                    <h2>Hello everyone!!!</h2>
                    <p>I want to tell you that I am very excited to be part of the project you have in mind<br>
                        I will provide you digital solutions, so they will allow you to be
                        closer to your clients and work for you, from anywhere in the world.<br>
                        I will present you innovatived solutions within the digital era.
                    </p>
                    <a class="button" href="#sct4">Contact Me</a>
                </div>
            </article>
            <div class="imagen2"><img src="img/img1.jpg" alt="Reunión"></div>
        </section>
        <section id="sct3">
            <h2>Recent Works</h2>
            <div class="projects">
            </div>
        </section>
        <section id="sct4">
            <div class="formulario" id="formulario">
                <h3>Contact me:</h3>
                <form action="" id="form">
                    <input type="text" name="nombre" id="nombre" placeholder="Name">
                    <input type="text" name="apellido" id="apellido" placeholder="Last name">
                    <input type="tel" name="telefono" id="telefono" placeholder="Cellphone">
                    <input type="email" name="email" id="email" placeholder="name@place.com">
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="My proyect is.."></textarea>
                    <input type="submit" id="submit" value="Send">
                </form>
            </div>
            <div class="imagen3"><img src="img/img3.jpg" alt="Meeting"></div>
        </section>
        <footer id="footer"></footer>
    </div>
    <script src="https://kit.fontawesome.com/08d1435850.js" crossorigin="anonymous"></script>
</body>

</html>