$header: linear-gradient(
  90deg,
  rgba(51, 96, 177, 1) 0%,
  rgba(34, 78, 134, 1) 27%,
  rgba(60, 91, 144, 1) 70%,
  rgba(50, 74, 144, 1) 86%,
  rgba(32, 82, 150, 1) 100%
);
$website-bg: #f3f3f3;
$bg-white: #fff;
$font-page: "Open Sans", sans-serif;
$font-claro: #f3f3f3;
$footer: #013a63;
$boton: #355070;
$errorMsg: #b82e29;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

body {
  background: $website-bg;
  font-family: $font-page;
  min-width: 320px;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header header header header"
    "section section section section"
    "footer footer footer footer";
}

header {
  grid-area: header;
  height: 10vh;
  background: $header;
  display: flex;
  align-items: center;
  #logo {
    margin-left: 160px;
    color: $font-claro;
    font-size: 1.5em;
    font-weight: 600;
  }
}

section {
  grid-area: section;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #formulario {
    width: 45%;
    height: 60%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      width: 60%;
      height: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      input,
      select {
        border-radius: 5px;
        padding: 15px;
        border: none;
        outline: none;
        margin-bottom: 5px;
        width: 100%;
        background: $bg-white;
      }
      input[type="submit"] {
        margin-top: 8px;
        color: $font-claro;
        background: $boton;
        cursor: pointer;
      }
    }
  }
  #errorMsg {
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $errorMsg;
    h2 {
      color: #fff;
      font-weight: normal;
      font-size: 0.8em;
    }
  }
}

footer {
  grid-area: footer;
  height: 10vh;
  background: #013a63;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    color: $font-claro;
    font-weight: normal;
    font-size: 1em;
  }
}

/* Responsive */

@media (max-width: 1500px) {
  section {
    #formulario {
      width: 55%;
      form {
        width: 70%;
      }
    }
    #errorMsg {
      width: 55%;
    }
  }
}

@media (max-width: 999px) {
  header {
    height: 12vh;
    #logo {
      margin-left: 80px;
    }
  }
  section {
    height: 78vh;
    #formulario {
      width: 80%;
      form {
        width: 70%;
      }
    }
    #errorMsg {
      width: 80%;
    }
  }
}

@media (max-width: 800px) {
  #container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "section section"
      "footer footer";
  }

  header {
    height: 12vh;
    #logo {
      margin-left: 40px;
      img {
        margin-left: 5%;
      }
    }
  }

  section {
    height: 78vh;
    #formulario {
      width: 90%;
      form {
        width: 80%;
      }
    }
    #errorMsg {
      width: 90%;
    }
  }
}

@media (max-width: 480px) {
  #container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "header"
      "section"
      "footer";
  }

  header {
    height: 12vh;
    #logo {
      margin-left: 20px;
      img {
        margin-left: 5%;
      }
    }
  }

  section {
    height: 78vh;
    #formulario {
      width: 99%;
      form {
        width: 98%;
        input[type="submit"] {
          margin-top: 12px;
        }
      }
    }
    #errorMsg {
      width: 99%;
    }
  }
}
