$header-bg: #1b242f;
$footer-bg: #16212e;
$boton-bg: #322e61;
$boton-hover: #38346e;
$website-bg: #f3f3f3;
$bg-blanco: #fff;
$bg-error: #8f1717;
$bg-success: #23700b;
$font-claro: #f3f3f3;
$font-intermedio: #f2f2f2;
$font-blanco: #fff;
$font-gris: #ccc;
$font-green: #04c2c9;
$open-sans: "Open Sans", sans-serif;
$sombra: #04c2c9;
$titulo: #d47948;
$slide1: #322e61;
$slider-bg: #1b242f;
$fonts: "Source Sans Pro", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  background: $website-bg;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  min-width: 320px;
  display: flex;
}

.container {
  display: grid;
  width: 100vw;
  min-width: 320px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header header header" "section1 section1 section1" "section2 section2 section2" "section3 section3 section3" "section4 section4 section4" "footer footer footer";
}

header {
  grid-area: header;
  background: $header-bg;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  .logo {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 100px;
    h1 {
      color: $font-blanco;
      font-size: 1.6em;
      font-weight: normal;
      font-family: $open-sans;
    }
  }
  nav {
    display: flex;
    margin-right: 60px;
    ul {
      list-style: none;
      li {
        display: inline-block;
        font-family: $open-sans;
        a {
          color: $font-gris;
          display: block;
          padding: 6px 15px;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: $font-green;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

.fa-bars {
  margin-right: 60px;
  color: $font-green;
}

#sct1 {
  grid-area: section1;
  height: 680px;
  width: 100vw;
  background: radial-gradient(
    circle,
    rgba(87, 125, 94, 0.96) 0%,
    rgba(24, 62, 108, 1) 100%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-display: row;
  box-shadow: 8px 5px 10px -7px rgba(120, 120, 120, 0.8);
  .imagen1 {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      display: flex;
      width: 35%;
      border-radius: 180px;
      filter: grayscale(20%);
      margin-right: 50px;
    }
  }
  .intro {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .frase {
      width: 80%;
      padding: 10px;
      text-align: left;
      margin-right: 320px;
      h2 {
        font-size: 2.3em;
        color: $font-claro;
        margin-bottom: 3%;
        font-family: $fonts;
      }
      P {
        font-size: 1.2em;
        color: $font-intermedio;
        line-height: 1.4em;
        text-align: justify;
        font-family: $fonts;
      }
    }
  }
}

#sct2 {
  grid-area: section2;
  height: 680px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 5px 10px -7px rgba(120, 120, 120, 0.8);
  article {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    height: 100%;
    .contenido {
      width: 80%;
      height: 60%;
      border: 1px solid rgba(245, 240, 240, 0.952);
      background: $bg-blanco;
      padding: 60px 30px 30px 30px;
      text-align: justify;
      box-shadow: 7px 5px 8px rgb(189, 187, 187);
      display: flex;
      flex-direction: column;
      h2 {
        font-weight: 500;
        margin-bottom: 7px;
      }
      p {
        line-height: 28px;
      }
      a {
        text-decoration: none;
        margin-top: 35px;
        width: 40%;
        height: 50px;
        border: 1px solid #19212b;
        padding: 12px;
        display: flex;
        justify-content: center;
        background: #fff;
        font-size: 0.9em;
        font-weight: 600;
        color: #19212b;
        :hover {
          background-color: #000;
        }
      }
    }
  }
  .imagen2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    img {
      width: 73%;
    }
  }
}

#sct3 {
  width: 100vw;
  height: 680px;
  grid-area: section3;
  box-shadow: 8px 5px 10px -7px rgba(120, 120, 120, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $header-bg;
  h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.9em;
    color: $sombra;
    margin-top: 40px;
    font-weight: 500;
  }
  .projects {
    display: grid;
    width: 90%;
    height: 90%;
    background: $header-bg;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "project1 project2 project3 project4";
    align-items: center;
    justify-items: center;
    .project1 {
      grid-area: project1;
    }
    .project2 {
      grid-area: project2;
    }
    .project3 {
      grid-area: project3;
    }
    .project4 {
      grid-area: project4;
    }
    .project {
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: none;
      background: $header-bg;
      display: flex;
      flex-direction: column;
    }
    .project-image {
      width: 90%;
      height: 50%;
      box-shadow: 5px 3px 7px 2px rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid #ccc;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .projectInfo {
      width: 98%;
      height: 40%;
      padding-top: 15px;
      h2 {
        text-align: center;
        font-size: 1em;
        margin: 1em 0 0.5em 0;
        color: $font-green;
        font-weight: 400;
        font-family: "Source Sans Pro", sans-serif;
      }
      p {
        margin: 8px;
        text-align: justify;
        font-size: 0.95em;
        font-family: "Source Sans Pro", sans-serif;
        color: $font-claro;
      }
    }
    .botonArea {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      .button2 {
        text-decoration: none;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 40px;
        cursor: pointer;
        margin-bottom: 10px;
        color: #16212e;
      }
    }
  }
}

#sct4 {
  grid-area: section4;
  height: 745px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  .formulario {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 40px;
    h3 {
      margin-bottom: 10px;
      margin-right: 43%;
      font-size: 2em;
      font-family: "Source Sans Pro", sans-serif;
    }
    form {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      input {
        padding: 15px;
        width: 90%;
        margin-bottom: 5px;
        outline: none;
        border: none;
      }
      input[type="submit"] {
        background: $boton-bg;
        color: $font-blanco;
        width: 25%;
        margin-top: 8px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 25px;
        &:hover {
          background: $boton-hover;
          transition: all 0.3s;
        }
      }
      textarea {
        width: 90%;
        border: none;
        outline: none;
        padding-left: 15px;
      }
    }
  }
  .imagen3 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    img {
      width: 70%;
    }
  }
}

footer {
  grid-area: footer;
  height: 100px;
  width: 100vw;
  background: $footer-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3,
  h2 {
    color: $font-blanco;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.6em;
  }
}

.fa-bars,
.fa-linkedin,
.fa-github {
  font-size: 1.5em;
}

.sticky {
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 4px 3px rgba(87, 125, 94, 0.7);
  height: 65px;
  width: 100vw;
  transition: all 0.3s;
}

.msgError {
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-error;
  border: 1px solid $bg-error;
  h2 {
    color: $font-blanco;
    font-size: 0.9em;
    font-weight: normal;
  }
}

.success {
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-success;
  border: 1px solid $bg-success;
  h2 {
    color: $font-blanco;
    font-size: 0.9em;
    font-weight: normal;
  }
}

.fontGreen {
  color: $font-green;
}

.fa-code {
  color: $font-green;
  font-size: 1em;
  font-weight: normal;
}

.listaActiva {
  color: $font-green;
}

.titulo-color {
  color: $titulo;
}

@media screen and (max-width: 900px) {
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header header" "section1 section1" "section2 section2" "section3 section3" "section4 section4" "footer footer";
  }
  header {
    .logo {
      margin-left: 30px;
      width: 30%;
      h1 {
        font-size: 1.3em;
      }
    }
    nav {
      justify-content: flex-end;
      margin-right: 10px;
      width: 60%;
      ul {
        li {
          a {
            font-size: 1.1em;
            padding: 8px;
          }
        }
      }
    }
  }
  #sct1 {
    .imagen1 {
      img {
        width: 70%;
      }
    }
    .intro {
      display: inline;
      margin-top: 65%;
    }
  }
  #sct2 {
    flex-direction: column;
    article {
      width: 100%;
      height: 50%;
      margin-right: 0;
      justify-content: center;
      padding-top: 20px;
      .contenido {
        padding: 30px;
        height: 95%;
        p {
          text-align: justify;
        }
      }
    }
    .imagen2 {
      width: 90%;
      justify-content: center;
      margin-left: 0;
    }
  }
  #sct3 {
    height: 840px;
    .projects {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "project1 project2" "project3 project4";
    }
  }
  #sct4 {
    flex-direction: column;
    justify-content: center;
    .formulario {
      align-items: flex-start;
      margin-right: 0;
      width: 100%;
      justify-content: center;
      h3 {
        margin-left: 15%;
      }
      form {
        width: 85%;
        margin-left: auto;
      }
    }
    .imagen3 {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    width: 100vw;
    grid-template-areas: "header" "section1" "section2" "section3 section3" "section4" "footer";
    flex-direction: column;
  }
  header {
    flex-direction: column;
    justify-content: center;
    .logo {
      margin-left: 0;
      width: 100%;
      height: 40%;
      h1 {
        font-size: 1.3em;
        margin-top: 13px;
        margin: auto;
      }
    }
    nav {
      margin-right: 0;
      width: 100%;
      ul {
        margin: auto;
      }
    }
  }
  #sct1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imagen1 {
      height: 60%;
      width: 100vw;
      padding-top: 200px;
      img {
        margin: auto;
        margin-top: 40x;
        width: 45%;
      }
    }
    .intro {
      align-items: flex-start;
      justify-content: start;
      padding: 10% 30px 0 30px;
      width: 100vw;
      height: 40%;
      margin-top: initial;
      .frase {
        flex-direction: column;
        width: 100%;
        margin-right: 10px;
      }
      h2 {
        margin-left: 5%;
      }
      p {
        margin-left: 5%;
      }
    }
  }
  #sct2 {
    flex-direction: column;
    article {
      width: 100vw;
      height: 60%;
      justify-content: center;
      margin-right: 0;
      .contenido {
        flex-direction: column;
        width: 90%;
        height: 85%;
        .button {
          margin-top: 30px;
        }
      }
    }
    .imagen2 {
      width: 100vw;
      height: 40%;
      justify-content: center;
      img {
        margin-top: -30px;
      }
    }
  }
  #sct3 {
    width: 100vw;
    height: 1530px;
    .projects {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "project1" "project2" "project3" "project4";
      justify-items: center;
      align-items: center;
    }
    .project {
      width: 80%;
    }
  }
  #sct4 {
    flex-direction: column;
    .formulario {
      width: 90%;
      flex-direction: column;
      padding-top: 20px;
      align-items: flex-start;
      h3 {
        margin: 5px 0 10px 8%;
      }
      form {
        width: 100%;
      }
    }
    .imagen3 {
      display: none;
    }
  }
}
